.navigation {
    list-style-type: none;
    overflow: hidden;
    position: absolute;
    top: .5rem;

    &-list {
        display: inline;
        margin-right: 1.8rem;
    }

    &-link {
        color: white;
        font-weight: 500;
        text-decoration: none;
        text-shadow: 1px 1px 0 rgba(0, 0, 0, .4);
        font-size: 1.2rem;
    }
}